button {
  margin: 2rem;
}

.mat-sidenav-container {
  width: 100vw;
  height: 86vh;
}

.mat-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.mat-sidenav {
  padding: 20px;
}

.espacamento-toolbar {
  flex: auto;
}
