<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="icon" (click)="sidenav.toggle()" abbr title="Abre menu lateral"
      aria-label="Botão toggle abre menu lateral">
      <mat-icon>toc</mat-icon>
    </button>
    <div>My Crud App</div>
    <div class="espacamento-toolbar"></div>
    <button mat-icon-button (click)="deslogar()" abbr title="Logout" aria-label="Botão para deslogar">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item (click)="home()"> Home </a>
      <a mat-list-item (click)="itens()"> Itens </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <app-home *ngIf="isHome && !isListar"></app-home>
      <app-item-listar *ngIf="!isHome && isListar"></app-item-listar>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
